# ================================
# INUBIL Verify — Variables d'environnement
# Copier ce fichier en .env et remplir les valeurs
# NE JAMAIS COMMITER le fichier .env
# ================================

# Base de données (Docker)
DATABASE_URL=postgresql://inubil:motdepasse@postgres:5432/inubil_db

# JWT
JWT_SECRET=changer_cette_valeur_secrete
JWT_EXPIRES_IN=24h
JWT_REFRESH_SECRET=changer_cette_valeur_refresh
JWT_REFRESH_EXPIRES_IN=7d

# Email (Nodemailer)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=votre_email@gmail.com
MAIL_PASS=votre_mot_de_passe_application
MAIL_FROM=INUBIL Verify <noreply@inubil.com>

# IPFS — Pinata
PINATA_API_KEY=votre_cle_api_pinata
PINATA_SECRET_KEY=votre_cle_secrete_pinata
PINATA_GATEWAY=https://gateway.pinata.cloud

# Blockchain — Polygon
POLYGON_RPC_URL=https://rpc-amoy.polygon.technology
PRIVATE_KEY=votre_cle_privee_wallet
CONTRACT_ADDRESS=adresse_du_contrat_apres_deploiement

# Frontend Angular
ANGULAR_API_URL=http://localhost:3000

# pgAdmin (Docker)
PGADMIN_EMAIL=admin@inubil.com
PGADMIN_PASSWORD=admin
